
/*----------------------------------------*/
/*  1.1 Theme Default
/*----------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --bee-theme-1: #0057FC;
  --bee-theme-2: #0984e3;
  --bee-subheading:#585858;
  --bee-text: #6E6E6E;
  --bee-black: #111111;
  --bee-white: #ffffff;
  --bee-border-1:rgba(255,255,255,.15);
}

:root {
  --bee-fonts-primary: "Poppins", sans-serif;  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------------------------
	typography css start 
---------------------------------*/
body {
  font-family: var(--bee-fonts-primary);
  font-size: 18px;
  font-weight: normal;
  color: var(--bee-black);
  line-height: 26px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--bee-fonts-primary);
  color: var(--bee-theme-1);
  margin-top: 0px;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul {
  margin: 0px;
  padding: 0px;
}

p {
  font-family: var(--bee-fonts-primary);
  font-size: 14px;
  font-weight: 400;
  color: var(--bee-text);
  margin-bottom: 15px;
  line-height: 26px;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

a,
button {
  color: inherit;
  outline: none;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type=password],
input[type=url],
textarea {
  outline: none;
  background-color: #fff;
  height: 56px;
  width: 100%;
  line-height: 56px;
  font-size: 14px;
  color: var(--bee-black);
  padding-left: 26px;
  padding-right: 26px;
  border: 1px solid #E0E2E3;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=url]:focus,
textarea:focus {
  border-color: var(--bee-black);
}
input[type=text]:focus::placeholder,
input[type=email]:focus::placeholder,
input[type=tel]:focus::placeholder,
input[type=number]:focus::placeholder,
input[type=password]:focus::placeholder,
input[type=url]:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
}

textarea {
  line-height: 1.4;
  padding-top: 17px;
  padding-bottom: 17px;
}

*::-moz-selection {
  background: var(--bee-theme-2);
  color: var(--bee-white);
  text-shadow: none;
}

*::selection {
  background: var(--bee-theme-2);
  color: var(--bee-white);
  text-shadow: none;
}

*::-moz-placeholder {
  color: var(--bee-black);
  font-size: 14px;
  opacity: 1;
}

*::placeholder {
  color: var(--bee-black);
  font-size: 14px;
  opacity: 1;
}

.w-img img {
  width: 100%;
}

.m-img img {
  max-width: 100%;
}

.fix {
  overflow: hidden;
}

.clear {
  clear: both;
}


.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

/* front page style here  */
header{
  padding: 100px 0;
}
header h1{
  font-size: 60px;
  color:var(--bee-black);
  padding-bottom: 30px;
  border-bottom: 1px solid #bebebe;
}
.main{
  width: 800px;
  margin: 50px auto; 
  display: flex;
  justify-content: space-around;
}


/* Profile Card Css Style  */
.profile-card{
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100vh;
  padding:100px 0;
}
.card-left{
  padding: 50px;
  text-align: center;
  width: 40%;
  background-color: var(--bee-white);
  border-radius: 20px;
  box-shadow: 1px 1px 300px 3px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 1px 1px 300px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 1px 1px 300px 3px rgba(0, 0, 0, 0.12);
}
.card-right{
  width: 60%;
  padding: 50px 90px;
}
.profile-photo img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-information{
  margin:40px 0;
}
.profile-information h2{
  font-size: 36px;  
  margin: 0;
  margin-bottom: 5px;
  color: var(--bee-black);
}
.profile-information h3{
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
  color: var(--bee-subheading);
}
.profile-information p{
  font-size: 16px;
  margin: 0;
  color: var(--bee-text);
}

.profile-stats{
  display: flex;
  justify-content: space-between;
}
.profile-stats h5{
  font-size: 18px;  
  font-weight: 500;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 5px;
  color: var(--bee-text);
}
.profile-stats p{
  font-size: 20px;  
  font-weight: 600;
  margin: 0;
  margin-bottom: 5px;
  color: #4A4A4A;
}
.profile-cta{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.btn{
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  border: 1px solid var(--bee-black);
  border-radius: 5px;
  padding:15px 15px;
  width: 175px;
  text-align: center;
  color:var(--bee-white);
  background-color: var(--bee-black);
  transition: .3s all ease-in-out;
}
.btn:hover{  
  border-color: var(--bee-black);
  background-color: var(--bee-white);
  color: var(--bee-black);
}
.btn-sec{
  color:var(--bee-black);
  background-color: var(--bee-white);
}
.btn-sec:hover{
  color:var(--bee-white);
  background-color: var(--bee-black);
}

.heading h1{
  font-size: 100px;
  font-weight: 700;
  color:var(--bee-black);
  text-transform: capitalize;
  line-height: 1.3;
}
.heading h2{
  font-size: 36px;
  font-weight: 500;
  color:var(--bee-black);
  text-transform: uppercase;
  line-height: 1.3;
}

/* calculator style here  */
.calculator-container{
  padding: 60px 0;}
.calculator-container .container{
  max-width: 900px;
}
.calculator{
  padding: 150px 0;

}
.calculator .container{
  max-width: 900px;
}
.heading h2{
  font-size: 60px;
  text-transform: capitalize;
  padding-bottom: 15px;
  border-bottom: 1px solid #bebebe;
}
textarea.form-control {
  height: 130px !important;
}